<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="A link aggregator." />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
    <link rel="mask-icon" href="/static/mask-icon.svg" color="black">
    <title>29.FYI</title>
  </head>

  <body>
    <nav>
      <a href="/"><img src="/static/logo.svg" alt="29.FYI" height=40 /></a>
    </nav>

    <hr>

    <ol>
      {{range .}}<li><a href="{{.URL}}">{{.Headline}}</a></li>{{end}}
    </ol>

    <hr>

    <form id="form" method="POST" action="/submit">
      <input id="headline" type="text" name="headline" placeholder="Headline" minlength="4" maxlength="128" required aria-label="Headline">
      <input id="url" type="url" name="url" placeholder="URL" minlength="4" maxlength="128" required aria-label="URL">
      <input id="button" type="submit" value="Link">
    </form>
  </body>
</html>
