/* light and dark mode */

:root {
  --color1: white;
  --color2: black;
  --outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color1: black;
    --color2: white;
    --outline: solid 1px white;
  }
}

/* general */

body {
  font-family: monospace, monospace;
  max-width: 64rem;
  min-width: 16rem;
  margin: auto;
  border: none;
  padding: 1rem;
  background-color: var(--color1);
  color: var(--color2);
}

/* logo */

img {
  outline: var(--outline);
}

/* links */

a {
  color: var(--color2);
}

/* link form */

input {
  font-family: inherit;
  padding: 0.25rem 0.5rem;
  border: solid 1px var(--color2);
  border-radius: 0;
  margin: 2px;
  background-color: var(--color1);
  color: var(--color2);
  -webkit-appearance: none;
}

input:focus {
  background-color: var(--color2);
  color: var(--color1);
}

#form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "headline headline headline headline button" "url url url url button";
}

#headline {
  grid-area: headline;
}

#url {
  grid-area: url;
}

#button {
  grid-area: button;
}
