/* general */

body {
  font-family: monospace, monospace;
  max-width: 64rem;
  min-width: 16rem;
  margin: auto;
  border: none;
  padding: 1rem;
}

/* link form */

#form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "headline headline headline headline button" "url url url url button";
}

#headline {
  grid-area: headline;
}

#url {
  grid-area: url;
}

#button {
  grid-area: button;
}
